<p>_not_logged_in.html</p>

<div class='not_login'>
  <div class='not_login_comment'>
    <h2>FAMILY-ALBUM</h2>
    <h2>〜for.ikka〜</h2>
    <h3>下記リンクより</h3><br>
    <h3>ログイン↓↓↓</h3>
  </div>

  <div class='not_login_button'>
    <%= image_tag 'login_icon.png', class: 'login_image_article' %>
    <%= link_to "LOGIN", login_path %>
  </div>
</div>