<!--<p>_logged_in.html</p>-->

<div class="container">
  <div class="logged_main">
  <!-- 画像 -->
  <!--<div class="row">-->
    <div class="col-md-6 wrapper">
      <div class="logo"> 
        <!--<img src="/images/family-album_icon.png" alt="" class="wrapper_logo">-->
      </div>
    </div>

  <!-- 概要 -->
  <div class="blog_tex">
    <h2 class="blog_text">〜子どもの成長をいつまでも〜</h2>
    <p>スマホで撮った子どもの写真や動画をかんたん共有。</p>
    <p>サイト見ながら、家族で楽しく成長をふりかえることができます。</p>
  </div>
    
  <!-- カード -->
  <div class="row card-main">
    <% @lists.each do |blog| %>
        <div class="howe_card-deck col-md-4">
          <div class="home_card">
            <div class="home_image">
              <%= image_tag blog.img.url, class:"home_list_img" %>
            </div>
              <div class="home_card-body col-md-6">
                <p class="home_card-title"><%= link_to blog.title, blog_path(blog), class:"blog_texts" %></p>
                <p class="home_card-text"><%= blog.created_at.strftime("%Y年%m月%d日") %></p>
              </div>
            </div>
        </div>
      <% end %>
  </div>
  </div>
</div>

