<!--<p>_not_logged_in.html</p>-->

<div class="container">
  <div class="not_login_comment">
    <div class="not_login_menu">
      <div class="not_login_logo">
        <img src="/images/mini_icon.png" class="mini_logo" alt="mini_logo">
      </div>
      <div class="not_login_logo_two">
        <img src="/images/family-album_logo.png" class="family_logo" alt="family_logo">
      </div>
      <div class="not_login_button">
        <%= image_tag "mini_login_icon.png", class: "login_image_article" %>
        <%= link_to "LOGIN", login_path, class:"loginlogin" %>
      </div>
    </div>
  </div>
</div>