<div class="container">
    <h2 class="text-center index_image_top"></h2>
      <% @lists.each do |blog| %>
        <div class="index_article">
          <%= image_tag 'child.jpeg', class: 'index_image_article' %>
            <p><%= link_to blog.title, blog_path(blog) %></p>
              <span>
                <%= blog.created_at.strftime("%Y年%m月%d日") %>
              </span>
              
        </div>
    <% end %>
    
</div>
