<div class="container">
  <div class="edit_main">
    <h1 class="edit_title text-center">編集</h1>
      <%= image_tag 'child.jpeg', class: 'show_image_article' %>
        <div class="edit_form">
          
  </div>
</div>
  