// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


// @import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body {
  font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
  display: block;
}


// Sessions#new

.login_comment {
  background-image: url("/images/home_img.png");
  background-size: cover;
  height: 380px;
}


.login_logo {
  text-align: center;
}

.login_menu {
  // background-color: red;
  display: block;
  // margin-bottom: 20px;
  text-align: center;
  
}

.form-label {
  // display: block;
  // text-align: left;
}

.email_label {
  // float: left;
  width: 17%;
  
}

.login_email {
  // text-align: left;
  // background-color: skyblue;
  // display: block;
  // width: 100%;
  // padding-left: 0;
  margin-left: 0;
}

.login_password {
  // text-align: center;
  // background-color: green;
  // width: 100%;
  // margin-left: 0;
  // padding-left: 40px;
}

.password_label {
  width: 17%;
}

.login_buttom {
  text-align: center;
  margin-top: 10px;
}